whatsapp-ai-assistant-sanitized (3).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -144
      ],
      "id": "79d6ae19-bca7-48ae-b451-355961655b50",
      "name": "Twilio Trigger",
      "webhookId": "3a0cc857-2554-4d14-934f-03224001bece",
      "credentials": {
        "twilioApi": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres el asistente de Hector"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3008,
        -80
      ],
      "id": "a6d9dcdc-7a84-4842-8dff-2a0743381f44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2928,
        160
      ],
      "id": "cd471c4c-8a0d-44e1-a5c6-5547697c8f37",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Twilio Trigger').item.json.data.to }}",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3616,
        -96
      ],
      "id": "1c741332-10c7-4483-9c8c-96f9765baa4d",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://your-server-domain.com//api/v1/accounts/1/contacts/search?q={{ $json.fromE164 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "API_TOKEN_PLACEHOLDER"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        -112
      ],
      "id": "36f1ebea-22dc-4b56-a06a-edc59c2825a9",
      "name": "getContact"
    },
    {
      "parameters": {
        "url": "=https://your-server-domain.com//api/v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "API_TOKEN_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "={{ $json.payload[0].contact_inboxes[0].inbox.id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.payload[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -112
      ],
      "id": "aa11bf5a-7a22-4d4f-a297-54587dccbc42",
      "name": "get2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "635b2cd0-81e2-4b0e-b0a6-9593cfeae1cd",
              "leftValue": "={{ $json.labels && $json.labels.map(l => String(l).toLowerCase()).includes('humano') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -112
      ],
      "id": "e382240c-21fb-4265-a029-8b2784d50c2e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "a09a79c5-8ba6-4200-8379-0fcc34826446",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcbb35aa-28c6-4b32-9dc1-a6af1afc9888",
              "name": "=specversion",
              "value": "={{ $('Twilio Trigger').item.json.specversion }}",
              "type": "string"
            },
            {
              "id": "c2ecb25f-ed7c-42b5-85ea-b17434b0810a",
              "name": "type",
              "value": "={{ $('Twilio Trigger').item.json.type }}",
              "type": "string"
            },
            {
              "id": "475d8ad1-dee8-464e-91ac-d8d851211fb8",
              "name": "source",
              "value": "={{ $('Twilio Trigger').item.json.source }}",
              "type": "string"
            },
            {
              "id": "a21232d6-6096-488e-9659-2f7f2a799ad8",
              "name": "id",
              "value": "={{ $('Twilio Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "26bd266c-6c0e-4a25-a925-06692e3e2257",
              "name": "dataschema",
              "value": "={{ $('Twilio Trigger').item.json.dataschema }}",
              "type": "string"
            },
            {
              "id": "2ab77e35-717b-4666-a21a-9ee13ea88253",
              "name": "datacontenttype",
              "value": "={{ $('Twilio Trigger').item.json.datacontenttype }}",
              "type": "string"
            },
            {
              "id": "25b10382-57e0-427f-b6fb-d32a92271911",
              "name": "time",
              "value": "={{ $('Twilio Trigger').item.json.time }}",
              "type": "string"
            },
            {
              "id": "c20bd632-a54b-4034-a47b-c7f834fca36b",
              "name": "data",
              "value": "={{ $('Twilio Trigger').item.json.data }}",
              "type": "string"
            },
            {
              "id": "e4e4a6ce-e22d-4c03-9042-9b4745ac7c2e",
              "name": "data.numMedia",
              "value": "={{ $('Twilio Trigger').item.json.data.numMedia }}",
              "type": "number"
            },
            {
              "id": "21d25767-ba7d-4d22-bb10-01eded854ae8",
              "name": "data.timestamp",
              "value": "={{ $('Twilio Trigger').item.json.data.timestamp }}",
              "type": "string"
            },
            {
              "id": "beaa64c8-2578-462c-8d8f-4e36e1142032",
              "name": "data.recipients",
              "value": "={{ $('Twilio Trigger').item.json.data.recipients }}",
              "type": "array"
            },
            {
              "id": "3efd74b3-a636-4458-80cb-ddde337ca6e7",
              "name": "data.accountSid",
              "value": "={{ $('Twilio Trigger').item.json.data.accountSid }}",
              "type": "string"
            },
            {
              "id": "f70dddeb-2d3f-4a39-8ba8-89184f5cc7ef",
              "name": "data.to",
              "value": "={{ $('Twilio Trigger').item.json.data.to }}",
              "type": "string"
            },
            {
              "id": "3cf2e543-2808-44b9-9b15-01199b6b3cf2",
              "name": "data.numSegments",
              "value": "={{ $('Twilio Trigger').item.json.data.numSegments }}",
              "type": "number"
            },
            {
              "id": "d33cf80e-b7b3-4c7d-aebb-65b7a0a2ec09",
              "name": "data.messageSid",
              "value": "={{ $('Twilio Trigger').item.json.data.messageSid }}",
              "type": "string"
            },
            {
              "id": "a892b28d-086d-490f-b3ec-3a22520957a1",
              "name": "data.eventName",
              "value": "={{ $('Twilio Trigger').item.json.data.eventName }}",
              "type": "string"
            },
            {
              "id": "b07d398d-ced5-44db-8354-20f654e805bb",
              "name": "data.body",
              "value": "={{ $('Twilio Trigger').item.json.data.body }}",
              "type": "string"
            },
            {
              "id": "2856805f-3f67-42ea-a9ff-e898fafbb9f6",
              "name": "data.from",
              "value": "={{ $('Twilio Trigger').item.json.data.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -208
      ],
      "id": "e17325d0-63c6-434b-bd48-c4242c12d7e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad522584-5d2f-4982-bef5-c9c7836f94e9",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -208
      ],
      "id": "c65b0acf-3948-421c-8a37-29ee13d5e4ed",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{$json.accountSid}}/Messages/{{$json.messageSid}}/Media.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        -80
      ],
      "id": "06d4e8f0-df0d-4f99-928c-223384ab0b20",
      "name": "TwilioBasic",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Twilio (CloudEvents) \u2192 normalmente es un OBJETO con la clave \"data\"\nconst payload = $json;\nconst ev = Array.isArray(payload) ? payload[0] : payload;\n\n// data suele tener: from, to, body, timestamp...\nconst data = ev?.data || {};\nconst fromWhats = data.from || ev.From || \"\"; // ej: \"whatsapp:+52XXXXXXXXXXX\"\nconst toWhats   = data.to   || ev.To   || \"\"; // ej: \"whatsapp:+52XXXXXXXXXXX\"\nconst body      = data.body || ev.Body || \"\";\nconst ts        = data.timestamp || ev.time || new Date().toISOString();\n\n// Normaliza a E.164 (sin el prefijo \"whatsapp:\")\nconst fromE164 = fromWhats.replace(/^whatsapp:/, \"\"); // +52XXXXXXXXXXX\nconst toE164   = toWhats.replace(/^whatsapp:/, \"\");   // +52XXXXXXXXXXX\n\n// Genera un ID de conversaci\u00f3n consistente (independiente de qui\u00e9n env\u00eda)\nconst conversation_id = [fromE164, toE164]\n  .map(n => n.replace(/\\+/g, \"\")) // quita \"+\"\n  .sort()                         // ordena para que sea igual sin importar el orden\n  .join(\"-\");                      // concatena\n\nreturn [{\n  fromE164,\n  toE164,\n  body,\n  ts,\n  conversation_id,\n  raw: ev\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -128
      ],
      "id": "0752b5f8-d6d4-42ec-9e16-ee5cdbdcef89",
      "name": "PARSEO"
    },
    {
      "parameters": {
        "jsCode": "// El HTTP te regres\u00f3 un ARRAY en la ra\u00edz\nconst root = Array.isArray($json) ? $json[0] : $json;\nconst list = root.media_list ?? root.media ?? [];\nconst first = list[0] || {};\nconst ct = String(first.content_type || '').toLowerCase();\n\nlet kind = 'file';\nif (ct.startsWith('image/'))       kind = 'image';\nelse if (ct.startsWith('audio/'))  kind = 'audio';\nelse if (ct === 'application/pdf') kind = 'pdf';\nelse if (ct.startsWith('video/'))  kind = 'video';\n\n// \ud83d\udc47 Recupera el contexto desde el nodo \"Normalizador\"\nconst base = $items(\"Normalizador\", 0, 0).json;\n\nreturn [{\n  ...base,\n  kind,\n  reason: ct ? `content_type=${ct}` : 'content_type desconocido',\n  mediaSid: first.sid || null,\n  mediaContentType: ct || null,\n  mediaUri: first.uri || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -64
      ],
      "id": "febb6b15-5125-42dd-bf80-7d8b7a17cc2d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// Normalizador: unifica Webhook cl\u00e1sico y CloudEvent\nconst root = Array.isArray($json) ? $json[0] : $json;\nconst env = root?.body ?? root;\nconst isCloudEvent = !!env?.type && !!env?.data;\nconst src = isCloudEvent ? env.data : env;\n\nconst accountSid = src.accountSid ?? src.AccountSid ?? '';\nconst messageSid = src.messageSid ?? src.MessageSid ?? '';\nconst numMedia   = Number(src.numMedia ?? src.NumMedia ?? 0);\nconst bodyText   = src.body ?? src.Body ?? '';\nconst from       = src.from ?? src.From ?? src.WaId ?? '';\nconst to         = src.to ?? src.To ?? '';\nconst mediaContentType = String(src.MediaContentType0 ?? '').toLowerCase();\n\nlet kind = 'text';\nlet reason = '';\n\nif (numMedia > 0) {\n  if (mediaContentType) {\n    if (mediaContentType.startsWith('image/'))       { kind = 'image'; reason = 'Webhook: image/*'; }\n    else if (mediaContentType.startsWith('audio/'))  { kind = 'audio'; reason = 'Webhook: audio/*'; }\n    else if (mediaContentType === 'application/pdf') { kind = 'pdf';   reason = 'Webhook: application/pdf'; }\n    else                                             { kind = 'file';  reason = `Webhook: ${mediaContentType}`; }\n  } else {\n    kind = 'media_pending';\n    reason = 'CloudEvent: numMedia>0, consultar /Messages/{SID}/Media';\n  }\n} else {\n  kind = bodyText ? 'text' : 'text';\n  reason = bodyText ? 'Tiene Body' : 'Sin Body ni media';\n}\n\nreturn [{\n  isCloudEvent,\n  accountSid,\n  messageSid,\n  numMedia,\n  from, to,\n  text: bodyText,\n  kind,\n  reason\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -208
      ],
      "id": "3af918e3-cf6a-4245-b34f-d4883869d834",
      "name": "Normalizador"
    },
    {
      "parameters": {
        "jsCode": "const root = Array.isArray($json) ? $json[0] : $json;\n\n// tu estructura real: root.payload = [ { ...conv }, { ...conv } ]\nconst conv = root?.payload?.[0] || {};\n\nconst conversation_id = conv.id ?? null;\nconst labels = Array.isArray(conv.labels) ? conv.labels : [];\n\nconst lastMsg = conv.last_non_activity_message || {};\nconst text = lastMsg.content || \"\";\n\n// en tu JSON: last_non_activity_message.sender.phone_number existe\nconst phone =\n  lastMsg?.sender?.phone_number ||\n  conv?.meta?.sender?.phone_number ||\n  conv?.meta?.sender?.phone ||\n  null;\n\nreturn [{\n  conversation_id,\n  labels,\n  text,\n  phone\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -112
      ],
      "id": "9fb96b50-66aa-458a-9215-7a55aa289405",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d7b6e75-134b-4c6a-91c2-658f9786887f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=IMAGEN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "998d34ee-a09a-42c1-aedc-eb8f056eeba0",
                    "leftValue": "={{ $json[\"kind\"] }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8204fe6-ff22-4065-a839-dc0e5b1b5620",
                    "leftValue": "={{ $json[\"kind\"] }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1680,
        -80
      ],
      "id": "b4e94943-01d2-47cc-8639-17d338ad8deb",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.twilio.com{{ $json.mediaUri.replace('.json', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        -464
      ],
      "id": "2da75a95-c2cf-4bda-a855-5d8c489381ab",
      "name": "getImage",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.twilio.com{{ $json.mediaUri.replace('.json', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1984,
        -96
      ],
      "id": "47459a79-0270-46e4-8a9d-239779ca3ff2",
      "name": "getImage1",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        2272,
        -96
      ],
      "id": "7471de12-a2e0-4594-99cc-c29f1fb844a4",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "135ddb60-a9c7-4278-a50d-668b826dcd5b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        -96
      ],
      "id": "aa6d5f4f-5a77-42e2-aab4-21bb0c09db95",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://api.twilio.com{{ $json.mediaUri.replace('.json', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1984,
        192
      ],
      "id": "479e1124-0b70-4601-9726-6e40e92ba940",
      "name": "getImage2",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2304,
        192
      ],
      "id": "bc727909-edac-4312-bf29-6253c0cb9dd2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46974a7b-a499-4767-8164-caac3a04d441",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        192
      ],
      "id": "b1ddead3-347d-4e97-80d2-565bd3d0e443",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24d94757-8b8c-473a-a15e-ca97e728305a",
              "name": "=text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        -96
      ],
      "id": "a768537f-5d67-4897-a73b-5b1d44636461",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://your-server-domain.com/api/v1/accounts/1/conversations/{{ $('getContact').item.json.payload[0].id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "API_TOKEN_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3392,
        -80
      ],
      "id": "403a6789-15fe-4936-9087-f3e30643736c",
      "name": "getContact1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "GOOGLE_VISION_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{$input.item.binary.data.data}}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2192,
        -464
      ],
      "id": "e12eb9b3-5f70-48c2-acba-a8014b571ab3",
      "name": "Google Vision OCR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d82893d-7d14-452a-9636-1bcde973eb43",
              "name": "text",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -352
      ],
      "id": "b406d5fa-9589-48da-9eda-38128e0be42b",
      "name": "SetImage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la imagen",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2432,
        -480
      ],
      "id": "ce970967-0493-4418-babe-d2c140badea2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2384,
        -288
      ],
      "id": "24358963-4cad-4929-9cf7-9849f9616b86",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "DeepSeek account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('PARSEO').item.json.fromE164 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3120,
        160
      ],
      "id": "b3c72ef7-460f-4173-a210-2b1f0bffb9e7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Twilio Trigger": [
      {
        "json": {
          "specversion": "1.0",
          "type": "com.twilio.messaging.inbound-message.received",
          "source": "/2010-04-01/Accounts/ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/Messages/MM0c7c5b2186dbadf7d9429cb7c4fc5bf9.json",
          "id": "CREDENTIAL_ID_PLACEHOLDER",
          "dataschema": "https://events-schemas.twilio.com/Messaging.InboundMessageV1/6",
          "datacontenttype": "application/json",
          "time": "2026-01-27T19:25:31.000Z",
          "data": {
            "numMedia": 1,
            "timestamp": "2026-01-27T19:25:31.000Z",
            "recipients": [],
            "accountSid": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "to": "whatsapp:+1XXXXXXXXXX",
            "numSegments": 1,
            "messageSid": "MM0c7c5b2186dbadf7d9429cb7c4fc5bf9",
            "eventName": "com.twilio.messaging.inbound-message.received",
            "body": "",
            "from": "whatsapp:+57XXXXXXXXXX"
          }
        }
      }
    ]
  },
  "connections": {
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "PARSEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "getContact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContact": {
      "main": [
        [
          {
            "node": "get2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Normalizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "TwilioBasic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TwilioBasic": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSEO": {
      "main": [
        [
          {
            "node": "getContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizador": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "getImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getImage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getImage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getImage": {
      "main": [
        [
          {
            "node": "Google Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getImage1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getImage2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    },
    "getContact1": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetImage": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision OCR": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "SetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c111a1f6-3162-445c-9174-756e346f6dfd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74cbf36a7242c46984ee0d293be83191fc9f83e5287807f4bbcd05f1b0163d63"
  },
  "id": "CREDENTIAL_ID_PLACEHOLDER",
  "tags": []
}